body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

#board {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  background: white;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

.task {
  background: #e3e3e3;
  padding: 10px;
  margin: 5px 0;
  cursor: grab;
  border-radius: 5px;
}

.task-container {
  min-height: 100px;
}
